.dark {
	background-color: var(--background-color);
	--background-color: rgb(30, 30, 30);
	--tile-color: rgba(0, 0, 0, 0.75);
	--opaque-tile-color: rgb(0, 0, 0);
	--overlay-color: rgb(30, 30, 30, .9);
	--text-color: rgba(255, 255, 255);
	--accent-color: rgb(217, 255, 0);
	--hover-color: rgba(255, 255, 255, 0.2);
	--hover-alternate-color: rgb(64, 64, 64, 0.76);
	--selection-color: var(--hover-color);
	--link-underline-color: rgba(255, 255, 255, 0.5);
	--error-color: rgb(255, 0, 0);
}

.light {
	background-color: var(--background-color);
	--background-color: rgb(230, 230, 230);
	--tile-color: rgb(255, 255, 255, .75);
	--opaque-tile-color: rgb(249, 249, 249);
	--overlay-color: rgb(230, 230, 230, .9);
	--text-color: rgba(0, 0, 0);
	--accent-color: rgb(217, 255, 0);
	--hover-color: rgba(200, 200, 200, 0.5);
	--hover-alternate-color: rgb(230, 230, 230, 0.5);
	--selection-color: var(--hover-color);
	--link-underline-color: rgba(255, 255, 255, 0.5);
	--error-color: rgb(255, 0, 0);
}
