.container {
	display: grid;
	justify-items: center;
	align-content: center;
	width: 100vw;
	//height: var(--page-height);
}

.helpDocHeading {
	margin-left: 15%; // 15% here for responsive web design, 18% in the text for indentation
	margin-right: 15%;
	margin-bottom: 4rem;
}

.helpDocText {
	margin-left: 3%; // text looks bad when it goes from window edge to window edge. let's prevent that.
	margin-top: 1rem;
	//margin-right: 18%;
	display: grid;
}

.svgContainer {
	vertical-align: bottom;
	display: inline-block;
	vertical-align: auto;
	svg {
		width: 2rem;
		border: var(--line-width) solid var(--text-color);
		border-radius: var(--small-radius);
	}

	svg > * { stroke-width: .14rem; }
}