.container {
	display: grid;
	justify-items: center;
	align-content: center;
	width: 100vw;
	//height: var(--page-height);
}

.helpHeadings {
	display: grid;
	justify-items: center;
	align-content: center;
	width: 100vw;
	margin-bottom: 2rem;
}
.helpLink {
    display: grid;
	justify-items: center;
	align-content: center;
	margin-bottom: 1rem; 
}
